# محیط‌های مجازی (Virtual Environments)
venv/
.venv/
env/

# کش‌های پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# فایل‌های متغیرهای محیطی (حاوی پسوردها و توکن‌های حساس - به شدت مهم)
.env

# دیتابیس‌های لوکال (مثلا اگر از SQLite استفاده می‌کنی)
*.sqlite3
db.sqlite3

# پوشه‌های مربوط به ادیتورها (IDE)
.vscode/
.idea/

# کش‌های تست و ابزارها
.pytest_cache/
.coverage
